/*CSS Reset and font family 'Open Sans' for the whole body*/
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Open Sans', sans-serif;
	position: relative;
}

/*html {
	height: 800vh;

}

body {
	height: 500vh;
}*/

/*NAV SECTION*/
.navbar {
	padding: 10px 50px;
	position: sticky;
	top: 0px;
	overflow: hidden;
	font-size: 14px;
	border-style: none none outset none;
	z-index: 2;
	background-color: white;
}

.navbar a {
  float: right;
  display: block;
  text-align: center;
  text-decoration: none;
  margin: 10px 50px 10px 0px;
  color: black;

}

.navbar img {
	float: left;
	display: block;
	text-align: center;
	height: 40px;
	margin: 0px;
}

/*NAV BUTTON*/
#tuitt-button {
	background-color: #c2195b;
	border: none;
	padding: 10px 15px 10px 15px;
	border-radius: 50px;
	color: white;
	margin: 0px;
	float: right;
}

/*LANDING PAGE*/
#landing-background {
	min-height: 60vh;
	background-image: url(https://d3ojsfl21hfxhc.cloudfront.net/assets/zuitt/programdetails2_w.jpg);
	background-size: 100%;
	background-repeat: no-repeat;
	background-position: 100% 50%;
	z-index: 1;

}

#front-bg {
	background-color: rgba(0, 0, 0, 0.5);
	min-height: 60vh;
}

#landing-content {
	color: white;
	padding:  10px 100px 10px 100px;
	width: 60%;
	float: right;
}

#landing-title {
	color: white;
	text-align: right;
	font-size: 50px;
	float: right;
	font-family: Times New Roman;
}

#landing-content2 {
	color: white;
	text-align: right;
	font-size: 25px;
	width: 70%;
	float: right;
	margin: 10px 0px 10px 0px;
}

#landing-button {
	background-color: #c2195b;
	border: none;
	padding: 10px 60px;
	border-radius: 50px;
	color: white;
	margin: 10px 0px;
	float: right;
	font-size: 15px;
}

/**/
.title-2 {
	font-family: 'Zilla Slab', serif;
	text-align: center;
	margin: 50px;
}


.content{
	padding: 0px 250px;
	text-align: justify;
}

/*Pre Footer*/
.pre-footer {
	background-color: #f7fbfb;
	width: 100%;
	padding: 150px;
	margin-top: 100px;
}

.pre-footer .title-2 {
	margin: 0px;
}

.ftr-content {
	text-align: center;
	padding: 50px 100px;
}

.book-button {
	background-color: #336589;
	border: none;
	padding: 10px 60px;
	border-radius: 50px;
	color: white;
	margin: 10px 0px;
	font-size: 15px;
}

footer a {
  text-decoration: none;
  margin: 0px 20px;
  color: black;
}

footer {
	text-align: center;
	margin-bottom: 20px;
}